{% extends "layout.jinja2" %}
{% block extra_head %}
    <script defer src="/pyscript/pyscript.js"></script>
    {{ extra_head | safe }}{% endblock %}
{% block extra_body %}
    <py-config>
        autoclose_loader: true
        runtimes:
        - src: "/static/pyodide.js"
        name: pyodide-0.20
        lang: python
    </py-config>
    {{ extra_pyscript | safe }}
{% endblock %}
{% block main %}
    {{ main | safe }}
{% endblock %}
