{% extends "layout.jinja2" %}
{% block main %}
    <section class="hero is-medium is-warning">
        <div class="hero-body">
            <p class="title">
                Medium hero
            </p>
            <p class="subtitle">
                Medium subtitle
            </p>
        </div>
    </section>
    <section class="section has-background-info-light">
        <h1 class="title">Section</h1>
        <h2 class="subtitle">
            A simple container to divide your page into <strong>sections</strong>, like the one you're currently
            reading.
        </h2>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Hello World</p>
                    <p class="subtitle">What is up?</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Foo</p>
                    <p class="subtitle">Bar</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Third column</p>
                    <p class="subtitle">With some content</p>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu
                            pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat
                            facilisis.</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
