<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | PyScript Collective</title>
    <link rel="icon" href="{{ root_path }}/favicon.png">
    <link rel="stylesheet" href="{{ root_path }}/static/psc.css">
    <link rel="stylesheet" href="{{ root_path }}/static/bulma.min.css">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://pyscript.net/">
            <img alt="Logo" src="{{ root_path }}/static/pyscript-sticker-black.svg" height="28">
        </a>
        <a class="navbar-item" href="{{ root_path }}/index.html">
            PyScript Collective
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a id="navbarGallery" class="navbar-item" href="{{ root_path }}/gallery">
                Gallery
            </a>
            <a id="navbarJoin" class="navbar-item" href="{{ root_path }}/pages/contributing.html">
                Join
            </a>
            <a id="navbarFAQ" class="navbar-item" href="{{ root_path }}/pages/faq.html">
                FAQ
            </a>
            <a id="navbarAbout" class="navbar-item" href="{{ root_path }}/pages/about.html">
                About
            </a>
        </div>
    </div>
</nav>
{% block main %}
{% endblock %}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://github.com/pyscript/pyscript-collective"><strong>PyScript Collective</strong></a> is
            licensed under
            <a href="https://github.com/pyscript/pyscript-collective/blob/main/LICENSE.md">Apache 2.0</a>.
        </p>
    </div>
</footer>
</body>
</html>
